@media screen and (min-width: 768px) {
    .only-lg {
        display: inherit;
    }
    .only-md {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .only-lg {
        display: none;
    }
    .only-md {
        display: inherit;
    }
}
